@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    text-decoration: none;
}

body {
    background-color: #f0f0f0;   
}

h1, h2, h3 {
    color: #ff0000;
}

.container {
    width: 60%;
    margin: auto;
}

header {
    display: flex;
    height: 90px;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px rgb(31, 12, 12) 5px;
}

nav .logo a {
    color: #ff0000;
    font-size: 1.3rem;
    font-weight: bold;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

nav ul {
    display: flex;
    gap: 2rem;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #ff0000;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    border-bottom: 2px solid #ff0000;
}

/******* Search   ********/
.search form {
    width: 100%;
    display: flex;
    padding: 20px 0; 
}

.search form input {
    width: 100%;
    padding: 9px;
    border: none;
    outline: none;
    font-size: 1.2rem;
}
.search form button {
    width: 40px;
    height: 46px;
    border: none;
    outline: none;
    background-color: #ff0000;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

/******* Articles *******/
.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.card {
    padding: 2rem;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.card .category {
    padding: 2px 0;
    background-color: #ff0000;
    border-radius: 50px 50px; 
    width: 42%;
}

.card .title h2 {
    padding: 15px 0;
}

.card .category p {
    display: flex;
    align-items:center;
    justify-content:center;
    color: #fff;
}

/******* form_login ********/
.form_login {
    width: 45%;
    height: 45vh;
    top: 50%;
    left: 50%;
    margin: 0;
    display: flex;
    position: absolute;
    background-color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
}

.form_login form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
}

.form_login form label {
    margin-bottom: 12px;
}

.form_login form .email {
    margin-bottom: 20px;
    padding: 10px 12px;
}

.form_login form input[type="password"] {
    margin-bottom: 20px;
    padding: 10px 12px;
}

.form_login form input[type="submit"] {
    padding: 12px 15px;
}

/******* form_register ********/
.form_register {
    width: 45%;
    top: 50%;
    left: 50%;
    margin: 0;
    display: flex;
    position: absolute;
    background-color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
}

.form_register form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
}

.form_register form label {
    margin-bottom: 12px;
}

.form_register form .email {
    margin-bottom: 12px;
    padding: 8px 10px;
}

.form_register form input[type="text"] {
    margin-bottom: 12px;
    padding: 8px 10px;
}

.form_register form input[type="password"] {
    margin-bottom: 12px;
    padding: 8px 10px;
}

.form_register form input[type="submit"] {
    padding: 12px 15px;
}
